.contador{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contador .cantidad{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contador .cantidad button{
    padding: 5px 15px;
    font-size: 1em;
    font-weight: 600;
    color: #dc2a32; 
    background-color: #fff; 
    border: 1px solid #b6232b;
    border-radius: 10px;
    cursor: pointer; 
}

.contador .btn-comprar{
    padding: 10px;
    outline: none; 
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    background-color: #dc2a32;
    border: 1px solid #b6232b;
    cursor: pointer;
}